body {
  background-color: #222222;
  color: #CCFFCC;
}

.game_area {
  overflow: auto;
}

.game_canvas, .game_log, .instructions{
  float: left;
}

.game_log, .instructions {
  max-width: 40em;
  margin-left: 25px;
}

