body {
  background-color: #222222;
  color: #CCFFCC;
}

.game_area {
  overflow: auto;
}

.game_canvas, .sidebar {
  float: left;
}

.game_log, .instructions, .sidebar {
  max-width: 40em;
}

.sidebar {
  margin-left: 25px;
}

